<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreateEmployee</title>

</head>
<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>
<body>
<form  method="post" th:action="@{/createEmployee}"  enctype="multipart/form-data" >
    <div class="row mt-3" >
        <div class="col-md-12"><label class="labels" >Name</label>
            <input  type="text" name="name" class="form-control" placeholder="enter name" value=""></div>
        <div class="col-md-12"><label class="labels" >Wage</label>
            <input type="text" name="wage" class="form-control" placeholder="enter age" value=""></div>
    </div>
    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>

</form>

</body>
</html>